/* Hide scrollbar for Chrome, Safari and Opera */
body {
    overflow: hidden; /* Hide scrollbars */
    background-color: lightgray;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ef5d57;
    background-color: white;
    text-decoration: underline;
}

.nav-link {
    display: block;
    padding: 0.5rem 7rem
}

.row .col-3 .nav-link{
    color: #343a40;
}

.row .col-3 .nav-link.active{
    color:  #ef5d57;
}
.header{
    position: fixed;
    top:0; left:0;
    border-right: 4px solid #ef5d57;
    height:100%;
    width:20rem;
    background:#ffffff;
    display: flex;
    justify-content: center;
    flex-flow: column;
   
}

.header1{
    position: fixed;
    top:0; left:0;
    border-right: 4px solid #ef5d57;
    height:100%;
    width:20rem;
    background:#ffffff;
    display: flex;
    justify-content: center;
    flex-flow: column;
   
}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

 @media (max-height:768px){

    html{
        font-size: 100%;
    }
 
 }